@charset "UTF-8";

body {
    padding: 0;
    margin: 0;
    min-height: 100%;
}

header {
    overflow: hidden; /* for the white line on top of site*/
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 2em;
}

/* LEFT SIDE */

/*
* Logos
*/

ul {
    /* TODO set image
    /* list-style-image: url('');
    */
}

/* RIGHT SIDE */

h1 {
    /* TODO change size */
}

footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: black;
    color: white;
}