@charset "UTF-8";

#presentation {
	background-color: #7451eb;
	color: white;
	height: 400px;
	width: auto;
}

#competences {
	background-color: #ffffff;
	height: 400px;
}

#contact {
	background-color: #003668;
	color: white;
	height: 400px;
}

h1 {
	color: green;
	text-align: center;
}
img {
	display: block;
	margin-left: left;
	margin-right: auto;
}

li {
	color: blue;
}